flows.json
[{"id":"abf5e1c.63af82","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"9d00fb4b.2a56c8","type":"ui_group","z":"","name":"Query","tab":"51071184.1058f","order":1,"disp":true,"width":"15","collapse":false},{"id":"bec0559e.59e578","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#28369f","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#28369f","edited":true},"page-titlebar-backgroundColor":{"value":"#28369f","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#4454d0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#28369f","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":0,"gy":10,"cx":3,"cy":0,"px":3,"py":3}}},{"id":"51071184.1058f","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false},{"id":"fd98f70f.6df5e8","type":"ui_group","z":"","name":"Response","tab":"51071184.1058f","order":2,"disp":true,"width":"15","collapse":false},{"id":"a44f6de4.8797","type":"debug","z":"abf5e1c.63af82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":120,"wires":[]},{"id":"cdf0a6c6.339428","type":"function","z":"abf5e1c.63af82","name":"input_fn","func":"msg.payload=msg.payload.query; \nreturn msg;","outputs":1,"noerr":0,"x":260,"y":220,"wires":[["14babeae.cd43e1"]]},{"id":"9d1aa9e9.ad9198","type":"function","z":"abf5e1c.63af82","name":"output_fn","func":"msg.payload.text=\"\"; \nif(msg.payload.context.webhook_result_1)\n{\nfor(var i in msg.payload.context.webhook_result_1.results)\n{\nmsg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\nmsg.payload=msg.payload.text;\n}\nelse\nmsg.payload = msg.payload.output.text[0]; \nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["a44f6de4.8797","c228f5c8.8bb908"]]},{"id":"14babeae.cd43e1","type":"watson-conversation-v1","z":"abf5e1c.63af82","name":"","workspaceid":"4251b4db-2e85-43bd-accd-696e90adab0b","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/72fad1c4-d83f-4b31-83f3-eaadc45eb99e","timeout":"","optout-learning":false,"x":400,"y":120,"wires":[["9d1aa9e9.ad9198"]]},{"id":"9350a663.175038","type":"ui_form","z":"abf5e1c.63af82","name":"","label":"","group":"9d00fb4b.2a56c8","order":1,"width":"15","height":"1","options":[{"label":"Type Your Query","value":"query","type":"text","required":true,"rows":null}],"formValue":{"query":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":220,"wires":[["cdf0a6c6.339428"]]},{"id":"c228f5c8.8bb908","type":"ui_template","z":"abf5e1c.63af82","group":"fd98f70f.6df5e8","name":"bot_response","order":1,"width":"0","height":"0","format":"<div style=\"height: 100px; color:mediumseagreen\">\n    {{msg.payload}}\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":640,"y":340,"wires":[[]]}]